<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      CONFIGURACION
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="guardarConfiguracion(lstServidores);" color="primary">
        <ion-icon slot="icon-only" name="save">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">


  <!-- List of Input Items -->
  <ion-list color="dark" >
    <ion-item color="dark" *ngFor="let iterador of lstServidores">
      <ion-label>{{iterador.nombreAmbiente}}</ion-label>
      <ion-toggle [(ngModel)]="iterador.verNotificacion" slot="end"></ion-toggle>
    </ion-item>
    <ion-item color="dark">
      <ion-label>Cerrar seccion</ion-label>
      <ion-toggle [(ngModel)]="iterador.verNotificacion" slot="end"></ion-toggle>
    </ion-item>
  </ion-list>


</ion-content>
