<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/signin"></ion-back-button>

        </ion-buttons>
        <div class="ion-text-end">
            <ion-button ion-button color="primary" (click)="registerNewUser(usuarioApp)">CREAR</ion-button>
        </div>
        <!--<ion-title>Registro de nuevo usuario</ion-title>-->
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-label position="floating">Primer nombre</ion-label>
            <ion-input [(ngModel)]="usuarioApp.primerNombre"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Segundo nombre</ion-label>
            <ion-input [(ngModel)]="usuarioApp.segundoNombre"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Primer apellido</ion-label>
            <ion-input [(ngModel)]="usuarioApp.primerApellido"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Segundo apellido</ion-label>
            <ion-input [(ngModel)]="usuarioApp.segundoApellido"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Cédula</ion-label>
            <ion-input [(ngModel)]="usuarioApp.cedula"></ion-input>
        </ion-item>


        <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input [(ngModel)]="usuarioApp.correo"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Clave</ion-label>
            <ion-input [(ngModel)]="usuarioApp.clave"></ion-input>
        </ion-item>

        <pre>{{usuarioApp|json}}</pre>

  <!--      <ion-item>
            <ion-label>Fecha de nacimiento</ion-label>
            <ion-datetime [(ngModel)]="usuarioApp.fechaNacimiento" display-format="MMM DD, YYYY"></ion-datetime>
        </ion-item>-->


    </ion-list>


</ion-content>
